<div class="sidebar1 container-fluid">

  <a routerLink="/Activity" ><div class="item">
    <i class="bi bi-bell" style='font-size:25px;'></i>
    <p>Activity</p>
  </div></a>
  <a routerLink="/Chat" ><div class="item">
    <i class="bi bi-chat-left-text" style="font-size: 25px"></i>
    <p>Chat</p>
  </div></a>
  <a routerLink="/Teams" ><div class="item">
    <i class="bi bi-people" style="font-size: 25px"></i>
    <p>Teams</p>
  </div></a>
  <a routerLink="/Calender"><div class="item">
    <i class="bi bi-calendar-week" style="font-size: 25px"></i>
    <p>Calender</p></div></a>

    <a routerLink="/Calls" ><div class="item">
    <i class="bi bi-telephone" style="font-size: 25px"></i>
    <p>Calls</p>
  </div></a>
  <a routerLink="/Files" ><div class="item">
    <i class="bi bi-files" style="font-size: 25px"></i>
    <p>Files</p>
  </div></a>
</div>
<router-outlet></router-outlet>
