
<div class="main container-fluid">
  <div class="top">
    <span style="font-size: 20px;font-weight: bold;"><i class="bi bi-square-fill"></i>&nbsp;General</span>&nbsp;&nbsp;&nbsp;
    <span>Posts</span>&nbsp;&nbsp;&nbsp;
    <span>Files</span>&nbsp;&nbsp;&nbsp;
    <span>+</span>
  </div>
  {{teamName}}
    <h1>Welcome to the team!</h1>
    <h3>Here are some things to get going...</h3>
    <img src="assets\Capture.JPG"><br>
    <div class="bottom">
      <input type="search" class="search" placeholder="Start a new conversation Type @ to mention someone"><br>
      <p><i class="bi bi-pencil" style="font-size: 20px"></i>&nbsp;&nbsp;&nbsp;
      <i class="bi bi-paperclip" style="font-size: 20px"></i>&nbsp;&nbsp;&nbsp;
      <i class="bi bi-emoji-smile" style="font-size: 20px"></i>&nbsp;&nbsp;&nbsp;
      <i class="bi bi-filetype-gif" style="font-size: 20px"></i>&nbsp;&nbsp;&nbsp;
      <i class="bi bi-camera-video" style="font-size: 20px"></i>&nbsp;&nbsp;&nbsp;
      <i class="bi bi-send" style="font-size: 20px;margin-left: 400px;" ></i></p>

    </div>
</div>
